body {
  background-color: #e1e1e1;
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}
img {
  opacity: 0.5;
}
header {
  font-size: 55px;
  text-align: center;
  font-weight: 500;
}
h1 {
  text-align: center;
}

.recipe-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 8px 5px 5px black;
  display: flex;
  justify-content: space-between;
  background-color: #eef2f7;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.images {
  color: black;
  font-size: 50px;
}

.recipe-instructions {
  border: 1px solid black;
}
footer {
  text-align: center;
}
